@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

article {
    height: 100%;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0  0 100px 100px;

    color: #928D99;

    font-family: 'Rubik', sans-serif;

    z-index: 1;
}

article h1 {
    font-size: 40px;
    font-weight: bold;
    color: #94949c;

    margin-bottom: 5px;
}

article .sub {
    font-size: 26px;
    font-weight: 400;

    color: #4076a6;

    margin: 0 0 50px 0;
}

article .par {
    width: 50%;

    font-size: 20px;
    color: #94949c;

    margin: 0 0 30px 0;
}

.icons a >* {
    width: 35px;
    margin-right: 10px;
}

@media all and (max-width: 480px) {
    article {
        padding: 0  0 100px 50px;
    }
}

@media all and (max-width: 720px) and (orientation: landscape) {
    article {
        padding: 50px  0 100px 50px;
    }

}